# REPRESENTATION

### IMPORT DEPENDENCIES

In [37]:
# IMPORT DEPENDENCIES
# FOR DATA
import pandas as pd
import os
import csv
import math
import numpy as np
import time
import datetime
# import requests
# import datefinder

# # FOR SQL LITE
# from sqlalchemy import create_engine
# from datetime import date

In [38]:
# IMPORTING DATA
path1 = os.path.join('data',f'CountriesPopulation_v1.csv')
path2 = os.path.join('data',f'OECD_Countries.csv')
path3 = os.path.join('data',f'Large_Countries.csv')
path4 = os.path.join('data',f'USStatesCongressionalSeats.csv')
path5 = os.path.join('data',f'USStatesCongressionalSeatsHistory.csv')
path6 = os.path.join('data',f'USStatesPopulation.csv')
path7 = os.path.join('data',f'USStatesPopulationHistoric.csv')

In [39]:
# CONVERTING TO DATAFRAMES
CountriesPopulation_df = pd.read_csv(path1, encoding = "ISO-8859-1")
OECD_Countries_df = pd.read_csv(path2, encoding = "ISO-8859-1")
Large_Countries_df = pd.read_csv(path3, encoding = "ISO-8859-1")
USStatesCongressionalSeats_df = pd.read_csv(path4, encoding = "ISO-8859-1")
USStatesCongressionalSeatsHistory_df = pd.read_csv(path5, encoding = "ISO-8859-1")
USStatesPopulation_df = pd.read_csv(path6, encoding = "ISO-8859-1")
USStatesPopulationHistoric_df = pd.read_csv(path7, encoding = "ISO-8859-1")

In [40]:
CountriesPopulation_df

,Country,Population,countrycode_2,countrycode,Independent
0,Afghanistan,32890171.0,AF,AFG,Yes
1,Åland Islands (Finland),30152.0,AX,ALA,No
2,Albania,2845955.0,AL,ALB,Yes
3,Algeria,44700000.0,DZ,DZA,Yes
4,American Samoa (US),56951.0,AS,ASM,No
...,...,...,...,...,...
233,Yemen,30491000.0,YE,YEM,Yes
234,Zambia,18400556.0,ZM,ZMB,Yes
235,Zimbabwe,15790716.0,ZW,ZWE,Yes
236,British Indian Ocean Territory,NaN,IO,IOT,No
237,European Union,447706209.0,EU,EUR,No

In [41]:
# # Combine the data into a single dataset
# Auto_data_weather_v1_df = pd.merge(CountriesPopulation_df, OECD_Countries_df, how='left', on='countrycode')
# # Auto_data_weather_v1a_df = Auto_data_weather_v1_df.rename(columns={'City_y':'City'})
# Auto_data_weather_df = Auto_data_weather_df.dropna(how='any')
# # Auto_data_weather_v1_df.reset_index()
# Auto_data_weather_df


# Combine the data into a single dataset
CountriesPopulationCongressionalSeats_df = pd.merge(CountriesPopulation_df, OECD_Countries_df, how='left', on='countrycode')

# Getting rid of columns we don't need. We use only data between 2005 - 2015
CountriesPopulationCongressionalSeats_df = CountriesPopulationCongressionalSeats_df[['Country', 'countrycode', 'Population', 'federal representatives', 'upper house']]

# Renaming columns
CountriesPopulationCongressionalSeats_df = CountriesPopulationCongressionalSeats_df.rename(columns={'federal representatives': 'federal representatives', 'upper house': 'upper house'})

# Remove any blanks, reset
CountriesPopulationCongressionalSeats_df = CountriesPopulationCongressionalSeats_df.dropna(how='any')
CountriesPopulationCongressionalSeats_df.reset_index()
CountriesPopulationCongressionalSeats_df
# print(CountriesPopulationCongressionalSeats_df.dtypes)

# Convert object to numeric
CountriesPopulationCongressionalSeats_df['Population'] = CountriesPopulationCongressionalSeats_df['Population'].apply(pd.to_numeric, errors='coerce')

print(CountriesPopulationCongressionalSeats_df.dtypes)
CountriesPopulationCongressionalSeats_df

Country                     object
countrycode                 object
Population                 float64
federal representatives    float64
upper house                float64
dtype: object

,Country,countrycode,Population,federal representatives,upper house
12,Australia,AUS,25776464.0,151.0,76.0
13,Austria,AUT,8933346.0,183.0,61.0
20,Belgium,BEL,11556297.0,150.0,60.0
36,Canada,CAN,38411882.0,338.0,105.0
41,Chile,CHL,19678363.0,155.0,43.0
54,Czech Republic,CZE,10701777.0,200.0,81.0
55,Denmark,DNK,5840045.0,179.0,0.0
66,Estonia,EST,1329460.0,101.0,0.0
72,Finland,FIN,5508198.0,200.0,0.0
73,France,FRA,67399000.0,577.0,348.0
78,Germany,DEU,83190556.0,709.0,69.0
81,Greece,GRC,10718565.0,300.0,0.0
93,Hungary,HUN,9730000.0,199.0,0.0
94,Iceland,ISL,368590.0,63.0,0.0
99,Ireland,IRL,4977400.0,160.0,60.0
101,Israel,ISR,9334340.0,120.0,0.0
102,Italy,ITA,59257566.0,630.0,321.0
105,Japan,JPN,125480000.0,465.0,245.0
114,Latvia,LVA,1891300.0,100.0,0.0
120,Lithuania,LTU,2790044.0,141.0,0.0
121,Luxembourg,LUX,634730.0,60.0,0.0
132,Mexico,MEX,126014024.0,500.0,128.0
144,Netherlands,NLD,17580531.0,150.0,75.0
146,New Zealand,NZL,5123792.0,120.0,0.0
155,Norway,NOR,5391369.0,196.0,0.0
166,Poland,POL,38244000.0,460.0,100.0
167,Portugal,PRT,10295909.0,230.0,0.0
190,Slovakia,SVK,5459781.0,150.0,0.0
191,Slovenia,SVN,2111461.0,90.0,0.0
195,South Korea,KOR,51705905.0,300.0,0.0
198,Spain,ESP,47351567.0,350.0,265.0
202,Sweden,SWE,10380491.0,349.0,0.0
203,Switzerland,CHE,8655100.0,200.0,46.0
214,Turkey,TUR,83614362.0,600.0,0.0
222,United Kingdom,GBR,66796807.0,650.0,796.0
223,United States,USA,331458869.0,435.0,100.0
237,European Union,EUR,447706209.0,705.0,0.0

In [42]:
CountriesPopulationCongressionalSeats_df['lower_house per head'] = CountriesPopulationCongressionalSeats_df['Population'] / CountriesPopulationCongressionalSeats_df['federal representatives']
CountriesPopulationCongressionalSeats_df['upper_house per head'] = CountriesPopulationCongressionalSeats_df['Population'] / CountriesPopulationCongressionalSeats_df['upper house']
CountriesPopulationCongressionalSeats_df

,Country,countrycode,Population,federal representatives,upper house,lower_house per head,upper_house per head
12,Australia,AUS,25776464.0,151.0,76.0,170705.059603,3.391640e+05
13,Austria,AUT,8933346.0,183.0,61.0,48816.098361,1.464483e+05
20,Belgium,BEL,11556297.0,150.0,60.0,77041.980000,1.926050e+05
36,Canada,CAN,38411882.0,338.0,105.0,113644.621302,3.658274e+05
41,Chile,CHL,19678363.0,155.0,43.0,126957.180645,4.576363e+05
54,Czech Republic,CZE,10701777.0,200.0,81.0,53508.885000,1.321207e+05
55,Denmark,DNK,5840045.0,179.0,0.0,32625.949721,inf
66,Estonia,EST,1329460.0,101.0,0.0,13162.970297,inf
72,Finland,FIN,5508198.0,200.0,0.0,27540.990000,inf
73,France,FRA,67399000.0,577.0,348.0,116809.358752,1.936753e+05
78,Germany,DEU,83190556.0,709.0,69.0,117335.057828,1.205660e+06
81,Greece,GRC,10718565.0,300.0,0.0,35728.550000,inf
93,Hungary,HUN,9730000.0,199.0,0.0,48894.472362,inf
94,Iceland,ISL,368590.0,63.0,0.0,5850.634921,inf
99,Ireland,IRL,4977400.0,160.0,60.0,31108.750000,8.295667e+04
101,Israel,ISR,9334340.0,120.0,0.0,77786.166667,inf
102,Italy,ITA,59257566.0,630.0,321.0,94059.628571,1.846030e+05
105,Japan,JPN,125480000.0,465.0,245.0,269849.462366,5.121633e+05
114,Latvia,LVA,1891300.0,100.0,0.0,18913.000000,inf
120,Lithuania,LTU,2790044.0,141.0,0.0,19787.546099,inf
121,Luxembourg,LUX,634730.0,60.0,0.0,10578.833333,inf
132,Mexico,MEX,126014024.0,500.0,128.0,252028.048000,9.844846e+05
144,Netherlands,NLD,17580531.0,150.0,75.0,117203.540000,2.344071e+05
146,New Zealand,NZL,5123792.0,120.0,0.0,42698.266667,inf
155,Norway,NOR,5391369.0,196.0,0.0,27506.984694,inf
166,Poland,POL,38244000.0,460.0,100.0,83139.130435,3.824400e+05
167,Portugal,PRT,10295909.0,230.0,0.0,44764.821739,inf
190,Slovakia,SVK,5459781.0,150.0,0.0,36398.540000,inf
191,Slovenia,SVN,2111461.0,90.0,0.0,23460.677778,inf
195,South Korea,KOR,51705905.0,300.0,0.0,172353.016667,inf
198,Spain,ESP,47351567.0,350.0,265.0,135290.191429,1.786852e+05
202,Sweden,SWE,10380491.0,349.0,0.0,29743.527221,inf
203,Switzerland,CHE,8655100.0,200.0,46.0,43275.500000,1.881543e+05
214,Turkey,TUR,83614362.0,600.0,0.0,139357.270000,inf
222,United Kingdom,GBR,66796807.0,650.0,796.0,102764.318462,8.391559e+04
223,United States,USA,331458869.0,435.0,100.0,761974.411494,3.314589e+06
237,European Union,EUR,447706209.0,705.0,0.0,635044.268085,inf