# REPRESENTATION

### IMPORT DEPENDENCIES

In [7]:
# IMPORT DEPENDENCIES
# FOR DATA
import pandas as pd
import os
import csv
import math
import numpy as np
import time
import datetime
import matplotlib.pyplot as plt
import scipy.stats as sts
from scipy.stats import sem
from scipy.stats import linregress
import random
# import requests
# import datefinder

# # FOR SQL LITE
# from sqlalchemy import create_engine
# from datetime import date

In [8]:
# IMPORTING DATA
path1 = os.path.join('data',f'CountriesPopulation_v1.csv')
path2 = os.path.join('data',f'OECD_Countries.csv')
path3 = os.path.join('data',f'Large_Countries.csv')
path4 = os.path.join('data',f'USStatesCongressionalSeats.csv')
path5 = os.path.join('data',f'USStatesCongressionalSeatsHistory.csv')
path6 = os.path.join('data',f'USStatesPopulation.csv')
path7 = os.path.join('data',f'USStatesPopulationHistoric.csv')

In [9]:
# CONVERTING TO DATAFRAMES
CountriesPopulation_df = pd.read_csv(path1, encoding = "ISO-8859-1")
OECD_Countries_df = pd.read_csv(path2, encoding = "ISO-8859-1")
Large_Countries_df = pd.read_csv(path3, encoding = "ISO-8859-1")
USStatesCongressionalSeats_df = pd.read_csv(path4, encoding = "ISO-8859-1")
USStatesCongressionalSeatsHistory_df = pd.read_csv(path5, encoding = "ISO-8859-1")
USStatesPopulation_df = pd.read_csv(path6, encoding = "ISO-8859-1")
USStatesPopulationHistoric_df = pd.read_csv(path7, encoding = "ISO-8859-1")

In [10]:
CountriesPopulation_df.head()

                    Country  Population countrycode_2 countrycode Independent
0               Afghanistan  32890171.0            AF         AFG         Yes
1   Åland Islands (Finland)     30152.0            AX         ALA          No
2                   Albania   2845955.0            AL         ALB         Yes
3                   Algeria  44700000.0            DZ         DZA         Yes
4       American Samoa (US)     56951.0            AS         ASM          No

### PART 1A REPRESENTATION US VS OECD COUNTRIES

In [11]:
# Combine the data into a single dataset
OECDCountriesPopCongressionalSeats_df = pd.merge(CountriesPopulation_df, OECD_Countries_df, how='left', on='countrycode')

# Getting rid of columns we don't need
OECDCountriesPopCongressionalSeats_df = OECDCountriesPopCongressionalSeats_df[['Country', 'countrycode', 'Population', 'federal representatives', 'upper house']]

# Renaming columns
OECDCountriesPopCongressionalSeats_df = OECDCountriesPopCongressionalSeats_df.rename(columns={'federal representatives': 'LHR', 'upper house': 'UHR', 'countrycode': 'countryCode'})

# Remove any blanks, reset
OECDCountriesPopCongressionalSeats_df = OECDCountriesPopCongressionalSeats_df.dropna(how='any')
OECDCountriesPopCongressionalSeats_df.reset_index()
OECDCountriesPopCongressionalSeats_df
# print(CountriesPopulationCongressionalSeats_df.dtypes)

# Convert object to numeric
OECDCountriesPopCongressionalSeats_df['Population'] = OECDCountriesPopCongressionalSeats_df['Population'].apply(pd.to_numeric, errors='coerce')

# Round numbers
OECDCountriesPopCongressionalSeats_df['Population'] = round(OECDCountriesPopCongressionalSeats_df['Population'], 0)
OECDCountriesPopCongressionalSeats_df['LHR'] = round(OECDCountriesPopCongressionalSeats_df['LHR'], 0)
OECDCountriesPopCongressionalSeats_df['UHR'] = round(OECDCountriesPopCongressionalSeats_df['UHR'], 0)

print(OECDCountriesPopCongressionalSeats_df.dtypes)
OECDCountriesPopCongressionalSeats_df.head()

Country         object
countryCode     object
Population     float64
LHR            float64
UHR            float64
dtype: object

       Country countryCode  Population    LHR    UHR
12   Australia         AUS  25776464.0  151.0   76.0
13     Austria         AUT   8933346.0  183.0   61.0
20     Belgium         BEL  11556297.0  150.0   60.0
36      Canada         CAN  38411882.0  338.0  105.0
41       Chile         CHL  19678363.0  155.0   43.0

In [12]:
for index, row in OECDCountriesPopCongressionalSeats_df.iterrows():
    OECDCountriesPopCongressionalSeats_df.loc[index,"LHCPR"] = row["Population"] / row["LHR"]
    if OECDCountriesPopCongressionalSeats_df.loc[index,"upper house"] > 0:
        OECDCountriesPopCongressionalSeats_df.loc[index,"UHCPR"] = row["Population"] / row["UHR"]
    
# Round numbers
OECDCountriesPopCongressionalSeats_df['Population'] = round(OECDCountriesPopCongressionalSeats_df['Population'], 0)
OECDCountriesPopCongressionalSeats_df['LHCPR'] = round(OECDCountriesPopCongressionalSeats_df['LHCPR'], 0)
OECDCountriesPopCongressionalSeats_df['UHCPR'] = round(OECDCountriesPopCongressionalSeats_df['UHCPR'], 0)

# Add in Group column
OECDCountriesPopCongressionalSeats_df['Group'] = "OECD Countries"

OECDCountriesPopCongressionalSeats_df.head()

KeyError: 'upper house'

In [ ]:
# GENERATE BAR PLOT FOR LOWER HOUSE
# Getting rid of columns we don't need
CountryvsSeats_LowerHouse_df = OECDCountriesPopCongressionalSeats_df[['Country', 'LHCPR']]
# Create x-axis
Country_List = CountryvsSeats_LowerHouse_df['Country'].unique()
CountryNo = np.array(range(len(Country_List)))

# Create Plot Method 1 (pandasplot)
CountryvsSeats_LowerHouse_df.plot(kind="bar", figsize=(10,5))
plt.title("Number of seats per representative (Lower House) for OECD Countries")
plt.xticks(CountryNo, Country_List,rotation = 90)
plt.tight_layout()
plt.show()

In [ ]:
# GENERATE BAR PLOT FOR UPPER HOUSE
# Getting rid of columns we don't need
UpperHouse_df = OECDCountriesPopCongressionalSeats_df[OECDCountriesPopCongressionalSeats_df['UHR']>0] 
CountryvsSeats_UpperHouse_df = UpperHouse_df[['Country', 'UHCPR']]
# Create x-axis
Country_List = CountryvsSeats_UpperHouse_df['Country'].unique()
CountryNo = np.array(range(len(Country_List)))

# Create Plot Method 1 (pandasplot)
CountryvsSeats_UpperHouse_df.plot(kind="bar", figsize=(10,5))
plt.title("Number of seats per representative (Upper House) for OECD Countries")
plt.xticks(CountryNo, Country_List,rotation = 90)
plt.tight_layout()
plt.show()

#### PART 1B: REPRESENTATION US VS RANDOM COUNTRIES

In [ ]:
# Combine the data into a single dataset
CountriesPopulationCongressionalSeats_df = pd.merge(CountriesPopulation_df, Large_Countries_df, how='left', on='countrycode')

# Getting rid of columns we don't need
CountriesPopulationCongressionalSeats_df = CountriesPopulationCongressionalSeats_df[['Country', 'countrycode', 'Population_x', 'Federal Representatives', 'Upper house']]

# Renaming columns
CountriesPopulationCongressionalSeats_df = CountriesPopulationCongressionalSeats_df.rename(columns={'Population_x': 'Population', 'Federal Representatives': 'LHR', 'Upper house': 'UHR', 'countrycode': 'countryCode'})

# Remove any blanks, reset
CountriesPopulationCongressionalSeats_df = CountriesPopulationCongressionalSeats_df.dropna(how='any')
CountriesPopulationCongressionalSeats_df.reset_index()
CountriesPopulationCongressionalSeats_df
# print(CountriesPopulationCongressionalSeats_df.dtypes)

# Convert object to numeric
CountriesPopulationCongressionalSeats_df['Population'] = CountriesPopulationCongressionalSeats_df['Population'].apply(pd.to_numeric, errors='coerce')

# Round numbers
CountriesPopulationCongressionalSeats_df['Population'] = round(CountriesPopulationCongressionalSeats_df['Population'], 0)
CountriesPopulationCongressionalSeats_df['LHR'] = round(CountriesPopulationCongressionalSeats_df['LHR'], 0)
CountriesPopulationCongressionalSeats_df['UHR'] = round(CountriesPopulationCongressionalSeats_df['UHR'], 0)

print(CountriesPopulationCongressionalSeats_df.dtypes)
CountriesPopulationCongressionalSeats_df.head()

In [ ]:
for index, row in CountriesPopulationCongressionalSeats_df.iterrows():
    CountriesPopulationCongressionalSeats_df.loc[index,"LHCPR"] = row["Population"] / row["LHR"]
    if CountriesPopulationCongressionalSeats_df.loc[index,"UHR"] > 0:
        CountriesPopulationCongressionalSeats_df.loc[index,"UHCPR"] = row["Population"] / row["UHR"]
    
# Round numbers
CountriesPopulationCongressionalSeats_df['Population'] = round(CountriesPopulationCongressionalSeats_df['Population'], 0)
CountriesPopulationCongressionalSeats_df['LHCPR'] = round(CountriesPopulationCongressionalSeats_df['LHCPR'], 0)
CountriesPopulationCongressionalSeats_df['UHCPR'] = round(CountriesPopulationCongressionalSeats_df['UHCPR'], 0)

# Add in Group column
OECDCountriesPopCongressionalSeats_df['Group'] = "Random Countries"

CountriesPopulationCongressionalSeats_df.head()

In [ ]:
# GENERATE BAR PLOT FOR LOWER HOUSE
# Getting rid of columns we don't need
CountryvsSeats_LowerHouse_df = CountriesPopulationCongressionalSeats_df[['Country', 'LHCPR']]
# Create x-axis
Country_List = CountryvsSeats_LowerHouse_df['Country'].unique()
CountryNo = np.array(range(len(Country_List)))

# Create Plot Method 1 (pandasplot)
CountryvsSeats_LowerHouse_df.plot(kind="bar", figsize=(10,5))
plt.title("Number of seats per representative (Lower House) for Random Countries")
plt.xticks(CountryNo, Country_List,rotation = 90)
plt.tight_layout()
plt.show()

In [ ]:
# GENERATE BAR PLOT FOR UPPER HOUSE
# Getting rid of columns we don't need
UpperHouse_df = CountriesPopulationCongressionalSeats_df[CountriesPopulationCongressionalSeats_df['upper house']>0] 
CountryvsSeats_UpperHouse_df = UpperHouse_df[['Country', 'UHCPR']]
# Create x-axis
Country_List = CountryvsSeats_UpperHouse_df['Country'].unique()
CountryNo = np.array(range(len(Country_List)))

# Create Plot Method 1 (pandasplot)
CountryvsSeats_UpperHouse_df.plot(kind="bar", figsize=(10,5))
plt.title("Number of seats per representative (Upper House) for Random Countries")
plt.xticks(CountryNo, Country_List,rotation = 90)
plt.tight_layout()
plt.show()

In [ ]:
#### Merge and output part 1 csv

In [ ]:
Part1_df= pd.concat([OECDCountriesPopCongressionalSeats_df, CountriesPopulationCongressionalSeats_df])
Part1_df.to_csv('data/Part1.csv')

### PART 2: US POPULATION HISTORY AND CONGRESSIONAL SEATS

In [77]:
USStatesPopulationHistoric_df

,State,Abbr,Year Admitted,1790_TotalPopulation,1800_TotalPopulation,1810_TotalPopulation,1820_TotalPopulation,1830_TotalPopulation,1840_TotalPopulation,1850_TotalPopulation,...,1940_TotalPopulation,1950_TotalPopulation,1960_TotalPopulation,1970_TotalPopulation,1980_TotalPopulation,1990_TotalPopulation,2000_TotalPopulation,2010_TotalPopulation,2020_TotalPopulation,density
0,Alabama,AL,1819.0,NaN,"1,250","9,046","127,901","309,527","590,756","771,623",...,"2,832,961","3,061,743","3,266,740","3,444,165","3,893,888","4,040,587","4,447,100","4,779,736","4,934,190.00",97.4270
1,Alaska,AK,1959.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"72,524","128,643","226,167","300,382","401,851","550,043","626,932","710,231","724,357.00",1.2694
2,Arizona,AZ,1912.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"499,261","749,587","1,302,161","1,770,900","2,718,215","3,665,228","5,130,632","6,392,017","7,520,100.00",66.2016
3,Arkansas,AR,1836.0,NaN,NaN,"1,062","14,273","30,388","97,574","209,897",...,"1,949,387","1,909,511","1,786,272","1,923,295","2,286,435","2,350,725","2,673,400","2,915,918","3,033,950.00",58.3059
4,California,CA,1850.0,NaN,NaN,NaN,NaN,NaN,NaN,"92,597",...,"6,907,387","10,586,223","15,717,204","19,953,134","23,667,902","29,760,021","33,871,648","37,253,956","39,613,500.00",254.2929
5,Colorado,CO,1876.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"1,123,296","1,325,089","1,753,947","2,207,259","2,889,964","3,294,394","4,301,261","5,029,196","5,893,630.00",56.8653
6,Connecticut,CT,1788.0,"237,946","251,002","262,042","275,202","297,675","309,978","370,792",...,"1,709,242","2,007,280","2,535,234","3,031,709","3,107,576","3,287,116","3,405,565","3,574,097","3,552,820.00",733.7505
7,Delaware,DE,1787.0,"59,096","64,273","72,674","72,749","76,748","78,085","91,532",...,"266,505","318,085","446,292","548,104","594,338","666,168","783,600","897,934","990,334.00",508.1242
8,District of Columbia,DC,1790.0,NaN,"8,144","15,471","23,336","30,261","33,745","51,687",...,"663,091","802,178","763,956","756,510","638,333","606,900","572,059","601,723","714,153.00",11707.4262
9,Florida,FL,1845.0,NaN,NaN,NaN,NaN,"34,730","54,477","87,445",...,"1,897,414","2,771,305","4,951,560","6,789,443","9,746,324","12,937,926","15,982,378","18,801,310","21,944,600.00",409.2233
10,Georgia,GA,1788.0,"82,548","162,686","251,407","340,989","516,823","691,392","906,185",...,"3,123,723","3,444,578","3,943,116","4,589,575","5,463,105","6,478,216","8,186,453","9,687,653","10,830,000.00",188.3053
11,Hawaii,HI,1959.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"423,330","499,794","632,772","768,561","964,691","1,108,229","1,211,537","1,360,301","1,406,430.00",218.9678
12,Idaho,ID,1890.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"524,873","588,637","667,191","712,567","943,935","1,006,749","1,293,953","1,567,582","1,860,120.00",22.5079
13,Illinois,IL,1818.0,NaN,"2,458","12,282","55,211","157,445","476,183","851,470",...,"7,897,241","8,712,176","10,081,158","11,113,976","11,426,518","11,430,602","12,419,293","12,830,632","12,569,300.00",226.3964
14,Indiana,IN,1816.0,NaN,"2,632","24,520","147,178","343,031","685,866","988,416",...,"3,427,796","3,934,224","4,662,498","5,193,669","5,490,224","5,544,159","6,080,485","6,483,802","6,805,660.00",189.9643
15,Iowa,IA,1846.0,NaN,NaN,NaN,NaN,NaN,"43,112","192,214",...,"2,538,268","2,621,073","2,757,537","2,824,376","2,913,808","2,776,755","2,926,324","3,046,355","3,167,970.00",56.7157
16,Kansas,KS,1861.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"1,801,028","1,905,299","2,178,611","2,246,578","2,363,679","2,477,574","2,688,418","2,853,118","2,917,220.00",35.6807
17,Kentucky,KY,1792.0,"73,677","220,959","406,511","564,317","687,917","779,828","982,405",...,"2,845,627","2,944,806","3,038,156","3,218,706","3,660,777","3,685,296","4,041,769","4,339,367","4,480,710.00",113.4759
18,Louisiana,LA,1812.0,NaN,NaN,"76,556","153,407","215,739","352,411","517,762",...,"2,363,880","2,683,516","3,257,022","3,641,306","4,205,900","4,219,973","4,468,976","4,533,372","4,627,000.00",107.0966
19,Maine,ME,1820.0,"96,540","151,719","228,705","298,335","399,455","501,793","583,169",...,"847,226","913,774","969,265","992,048","1,124,660","1,227,928","1,274,923","1,328,361","1,354,520.00",43.9166
20,Maryland,MD,1788.0,"319,728","341,548","380,546","407,350","447,040","470,019","583,034",...,"1,821,244","2,343,001","3,100,689","3,922,399","4,216,975","4,781,468","5,296,486","5,773,552","6,065,440.00",624.8522
21,Massachusetts,MA,1788.0,"378,787","422,845","472,040","523,287","610,408","737,699","994,514",...,"4,316,721","4,690,514","5,148,578","5,689,170","5,737,037","6,016,425","6,349,097","6,547,629","6,912,240.00",886.1846
22,Michigan,MI,1837.0,NaN,"3,757","4,762","7,452","28,004","212,267","397,654",...,"5,256,106","6,371,766","7,823,194","8,875,083","9,262,078","9,295,297","9,938,444","9,883,640","9,992,430.00",176.7352
23,Minnesota,MN,1858.0,NaN,NaN,NaN,NaN,NaN,NaN,"6,077",...,"2,792,300","2,982,483","3,413,864","3,804,971","4,075,970","4,375,099","4,919,479","5,303,925","5,706,400.00",71.6641
24,Mississippi,MS,1817.0,NaN,"7,600","31,306","75,448","136,621","375,651","606,526",...,"2,183,796","2,178,914","2,178,141","2,216,912","2,520,638","2,573,216","2,844,658","2,967,297","2,966,410.00",63.2187
25,Missouri,MO,1821.0,NaN,NaN,"19,783","66,586","140,455","383,702","682,044",...,"3,784,664","3,954,653","4,319,813","4,676,501","4,916,686","5,117,073","5,595,211","5,988,927","6,169,040.00",89.7419
26,Montana,MT,1889.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"559,456","591,024","674,767","694,409","786,690","799,065","902,195","989,415","1,085,000.00",7.4547
27,Nebraska,NE,1867.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"1,315,834","1,325,510","1,411,330","1,483,493","1,569,825","1,578,385","1,711,263","1,826,341","1,952,000.00",25.4087
28,Nevada,NV,1864.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"110,247","160,083","285,278","488,738","800,493","1,201,833","1,998,257","2,700,551","3,185,790.00",29.0195
29,New Hampshire,NH,1788.0,"141,885","183,858","214,360","244,161","269,328","284,574","317,976",...,"491,524","533,242","606,921","737,681","920,610","1,109,252","1,235,786","1,316,470","1,372,200.00",153.2671
30,New Jersey,NJ,1787.0,"184,139","211,149","245,555","277,575","320,823","373,306","489,555",...,"4,160,165","4,835,329","6,066,782","7,168,164","7,364,823","7,730,188","8,414,350","8,791,894","8,874,520.00",1206.7609
31,New Mexico,NM,1912.0,NaN,NaN,NaN,NaN,NaN,NaN,"61,547",...,"531,818","681,187","951,023","1,016,000","1,302,894","1,515,069","1,819,046","2,059,179","2,105,000.00",17.3540
32,New York,NY,1788.0,"340,120","586,050","959,049","1,372,812","1,918,608","2,428,921","3,097,394",...,"13,479,142","14,830,192","16,782,304","18,236,967","17,558,072","17,990,455","18,976,457","19,378,102","19,300,000.00",409.5404
33,North Carolina,NC,1789.0,"393,751","478,103","556,526","638,829","737,987","753,419","869,039",...,"3,571,623","4,061,929","4,556,155","5,082,059","5,881,766","6,628,637","8,049,313","9,535,483","10,701,000.00",220.1037
34,North Dakota,ND,1889.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"641,935","619,636","632,446","617,761","652,717","638,800","642,200","672,591","770,026.00",11.1596
35,Ohio,OH,1803.0,NaN,"42,159","230,760","581,434","937,903","1,519,467","1,980,329",...,"6,907,612","7,946,627","9,706,397","10,652,017","10,797,630","10,847,115","11,353,140","11,536,504","11,714,600.00",286.6939
36,Oklahoma,OK,1907.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"2,336,434","2,233,351","2,328,284","2,559,229","3,025,290","3,145,585","3,450,654","3,751,351","3,990,440.00",58.1739
37,Oregon,OR,1859.0,NaN,NaN,NaN,NaN,NaN,NaN,"12,093",...,"1,089,684","1,521,341","1,768,687","2,091,385","2,633,105","2,842,321","3,421,399","3,831,074","4,289,440.00",44.6873
38,Pennsylvania,PA,1787.0,"434,373","602,545","810,091","1,049,458","1,348,233","1,724,033","2,311,786",...,"9,900,180","10,498,012","11,319,366","11,793,909","11,863,895","11,881,643","12,281,054","12,702,379","12,804,100.00",286.1699
39,Puerto Rico,PR,1899.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"1,869,255","2,210,703","2,349,544","2,712,033","3,196,520","3,522,037","3,808,610","3,725,789","3,194,370.00",923.4952
40,Rhode Island,RI,1790.0,"68,825","69,122","76,931","83,059","97,199","108,830","147,545",...,"713,346","791,896","859,488","946,725","947,154","1,003,464","1,048,319","1,052,567","1,061,510.00",1026.6054
41,South Carolina,SC,1788.0,"249,073","345,591","415,115","502,741","581,185","594,398","668,507",...,"1,899,804","2,117,027","2,382,594","2,590,516","3,121,820","3,486,703","4,012,012","4,625,364","5,277,830.00",175.5707
42,South Dakota,SD,1889.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"642,961","652,740","680,514","665,507","690,768","696,004","754,844","814,180","896,581.00",11.8265
43,Tennessee,TN,1796.0,"35,691","105,602","261,727","422,813","681,904","829,210","1,002,717",...,"2,915,841","3,291,718","3,567,089","3,923,687","4,591,120","4,877,185","5,689,283","6,346,105","6,944,260.00",168.4069
44,Texas,TX,1845.0,NaN,NaN,NaN,NaN,NaN,NaN,"212,592",...,"6,414,824","7,711,194","9,579,677","11,196,730","14,229,191","16,986,510","20,851,820","25,145,561","29,730,300.00",113.8080
45,Utah,UT,1896.0,NaN,NaN,NaN,NaN,NaN,NaN,"11,380",...,"550,310","688,862","890,627","1,059,273","1,461,037","1,722,850","2,233,169","2,763,885","3,310,770.00",40.2917
46,Vermont,VT,1791.0,"85,425","154,465","217,713","235,764","280,652","291,948","314,120",...,"359,231","377,747","389,881","444,330","511,456","562,758","608,827","625,741","623,251.00",67.6197
47,Virginia,VA,1788.0,"691,937","807,557","877,683","938,261","1,044,054","1,025,227","1,119,348",...,"2,677,773","3,318,680","3,966,949","4,648,494","5,346,818","6,187,358","7,078,515","8,001,024","8,603,980.00",217.8774
48,Washington,WA,1889.0,NaN,NaN,NaN,NaN,NaN,NaN,"1,201",...,"1,736,191","2,378,963","2,853,214","3,409,169","4,132,156","4,866,692","5,894,121","6,724,540","7,796,940.00",117.3248
49,West Virginia,WV,1863.0,"55,873","78,592","105,469","136,808","176,924","224,537","302,313",...,"1,901,974","2,005,552","1,860,421","1,744,237","1,949,644","1,793,477","1,808,344","1,852,994","1,767,860.00",73.5444
50,Wisconsin,WI,1848.0,NaN,NaN,NaN,"1,444","3,635","30,945","305,391",...,"3,137,587","3,434,575","3,951,777","4,417,731","4,705,767","4,891,769","5,363,675","5,686,986","5,852,490.00",108.0633
51,Wyoming,WY,1890.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"250,742","290,529","330,066","332,416","469,557","453,588","493,782","563,626","581,075.00",5.9847
52,Â American Samoa,AS,1900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"12,908","24,889","20,051","27,159","32,297","46,773","57,291","55,519",NaN,NaN
53,Â Guam,GU,1899.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"22,290","59,498","67,044","84,966","105,979","133,152","154,805","159,358",NaN,NaN
54,Â Northern Mariana Islands,NaN,1986.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"9,460","16,780","43,345","69,221","53,883",NaN,NaN
55,Pacific Trust Territory,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"70,270","104,033",NaN,NaN,NaN,NaN,NaN
56,Â Palau,PW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"11,210","12,116","15,122",NaN,NaN,NaN,NaN
57,Â Panama Canal Zone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"51,827","52,822","42,112","44,198",NaN,NaN,NaN,NaN,NaN,NaN
58,Â U.S. Virgin Islands,VI,1917.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"39,467","51,827","32,099","62,468","96,569","101,809","108,612","106,405",NaN,NaN

In [ ]:
weather_data_500 = weather_data_500.dropna(how='any')
weather_data_500 = weather_data_500[~weather_data_500.Max_Temp.str.contains("NaN", na=False)]

In [86]:
# for index, row in USStatesPopulationHistoric_df.iterrows():
#     USStatesPopulationHistoric_df.loc[index,"1790_RepPopulation"] = row["1790_TotalPopulation"] +(0.60 * (row["1790_EnslavedPopulation"]))
# #     if CountriesPopulationCongressionalSeats_df.loc[index,"upper house"] != NaN:
# #         CountriesPopulationCongressionalSeats_df.loc[index,"upper_house per head"] = row["Population"] / row["upper house"]
# USStatesPopulationHistoric_df

# spare_df = USStatesPopulationHistoric_df
# USStatesPopulationHistoric_df = spare_df
USStatesPopulationHistoric_df

# Remove NaN values
# USStatesPopulationHistoric_df.fillna(0)
New_USStatesPopulationHistoric_df = USStatesPopulationHistoric_df.replace(np.nan,0)
###################################################################################################################################################################
# Convert object to numeric
# weather["Temp"] = pd.to_numeric(weather.Temp, errors='coerce')
# New_USStatesPopulationHistoric_df["1790_TotalPopulation"] = pd.to_numeric(New_USStatesPopulationHistoric_df["1790_TotalPopulation"], errors='coerce')
# New_USStatesPopulationHistoric_df = New_USStatesPopulationHistoric_df.apply(pd.to_numeric, errors='coerce')
# New_USStatesPopulationHistoric_df['State'] = New_USStatesPopulationHistoric_df['State'].astype(str)
# New_USStatesPopulationHistoric_df['Abbr'] = New_USStatesPopulationHistoric_df['Abbr'].astype(str)

# # USStatesPopulationHistoric_df = USStatesPopulationHistoric_df.dropna(how='any')
# New_USStatesPopulationHistoric_df["1790_RepPopulation"] = New_USStatesPopulationHistoric_df["1790_TotalPopulation"] +(0.60 * (New_USStatesPopulationHistoric_df["1790_EnslavedPopulation"]))
# New_USStatesPopulationHistoric_df["1800_RepPopulation"] = New_USStatesPopulationHistoric_df["1800_TotalPopulation"] +(0.60 * (New_USStatesPopulationHistoric_df["1800_EnslavedPopulation"]))
# New_USStatesPopulationHistoric_df["1810_RepPopulation"] = New_USStatesPopulationHistoric_df["1810_TotalPopulation"] +(0.60 * (New_USStatesPopulationHistoric_df["1810_EnslavedPopulation"]))
# New_USStatesPopulationHistoric_df["1820_RepPopulation"] = New_USStatesPopulationHistoric_df["1820_TotalPopulation"] +(0.60 * (New_USStatesPopulationHistoric_df["1820_EnslavedPopulation"]))
# New_USStatesPopulationHistoric_df["1830_RepPopulation"] = New_USStatesPopulationHistoric_df["1830_TotalPopulation"] +(0.60 * (New_USStatesPopulationHistoric_df["1830_EnslavedPopulation"]))
# New_USStatesPopulationHistoric_df["1840_RepPopulation"] = New_USStatesPopulationHistoric_df["1840_TotalPopulation"] +(0.60 * (New_USStatesPopulationHistoric_df["1840_EnslavedPopulation"]))
# New_USStatesPopulationHistoric_df["1850_RepPopulation"] = New_USStatesPopulationHistoric_df["1850_TotalPopulation"] +(0.60 * (New_USStatesPopulationHistoric_df["1850_EnslavedPopulation"]))
# New_USStatesPopulationHistoric_df["1860_RepPopulation"] = New_USStatesPopulationHistoric_df["1860_TotalPopulation"] +(0.60 * (New_USStatesPopulationHistoric_df["1860_EnslavedPopulation"]))
print(New_USStatesPopulationHistoric_df.dtypes)
New_USStatesPopulationHistoric_df

State                       object
Abbr                        object
Year Admitted              float64
1790_TotalPopulation        object
1800_TotalPopulation        object
1810_TotalPopulation        object
1820_TotalPopulation        object
1830_TotalPopulation        object
1840_TotalPopulation        object
1850_TotalPopulation        object
1860_TotalPopulation        object
1790_EnslavedPopulation     object
1800_EnslavedPopulation     object
1810_EnslavedPopulation     object
1820_EnslavedPopulation     object
1830_EnslavedPopulation     object
1840_EnslavedPopulation     object
1850_EnslavedPopulation     object
1860_EnslavedPopulation     object
1870_TotalPopulation        object
1880_TotalPopulation        object
1890_TotalPopulation        object
1900_TotalPopulation        object
1910_TotalPopulation        object
1920_TotalPopulation        object
1930_TotalPopulation        object
1940_TotalPopulation        object
1950_TotalPopulation        object
1960_TotalPopulation        object
1970_TotalPopulation        object
1980_TotalPopulation        object
1990_TotalPopulation        object
2000_TotalPopulation        object
2010_TotalPopulation        object
2020_TotalPopulation        object
density                    float64
dtype: object

,State,Abbr,Year Admitted,1790_TotalPopulation,1800_TotalPopulation,1810_TotalPopulation,1820_TotalPopulation,1830_TotalPopulation,1840_TotalPopulation,1850_TotalPopulation,...,1940_TotalPopulation,1950_TotalPopulation,1960_TotalPopulation,1970_TotalPopulation,1980_TotalPopulation,1990_TotalPopulation,2000_TotalPopulation,2010_TotalPopulation,2020_TotalPopulation,density
0,Alabama,AL,1819.0,0,"1,250","9,046","127,901","309,527","590,756","771,623",...,"2,832,961","3,061,743","3,266,740","3,444,165","3,893,888","4,040,587","4,447,100","4,779,736","4,934,190.00",97.4270
1,Alaska,AK,1959.0,0,0,0,0,0,0,0,...,"72,524","128,643","226,167","300,382","401,851","550,043","626,932","710,231","724,357.00",1.2694
2,Arizona,AZ,1912.0,0,0,0,0,0,0,0,...,"499,261","749,587","1,302,161","1,770,900","2,718,215","3,665,228","5,130,632","6,392,017","7,520,100.00",66.2016
3,Arkansas,AR,1836.0,0,0,"1,062","14,273","30,388","97,574","209,897",...,"1,949,387","1,909,511","1,786,272","1,923,295","2,286,435","2,350,725","2,673,400","2,915,918","3,033,950.00",58.3059
4,California,CA,1850.0,0,0,0,0,0,0,"92,597",...,"6,907,387","10,586,223","15,717,204","19,953,134","23,667,902","29,760,021","33,871,648","37,253,956","39,613,500.00",254.2929
5,Colorado,CO,1876.0,0,0,0,0,0,0,0,...,"1,123,296","1,325,089","1,753,947","2,207,259","2,889,964","3,294,394","4,301,261","5,029,196","5,893,630.00",56.8653
6,Connecticut,CT,1788.0,"237,946","251,002","262,042","275,202","297,675","309,978","370,792",...,"1,709,242","2,007,280","2,535,234","3,031,709","3,107,576","3,287,116","3,405,565","3,574,097","3,552,820.00",733.7505
7,Delaware,DE,1787.0,"59,096","64,273","72,674","72,749","76,748","78,085","91,532",...,"266,505","318,085","446,292","548,104","594,338","666,168","783,600","897,934","990,334.00",508.1242
8,District of Columbia,DC,1790.0,0,"8,144","15,471","23,336","30,261","33,745","51,687",...,"663,091","802,178","763,956","756,510","638,333","606,900","572,059","601,723","714,153.00",11707.4262
9,Florida,FL,1845.0,0,0,0,0,"34,730","54,477","87,445",...,"1,897,414","2,771,305","4,951,560","6,789,443","9,746,324","12,937,926","15,982,378","18,801,310","21,944,600.00",409.2233
10,Georgia,GA,1788.0,"82,548","162,686","251,407","340,989","516,823","691,392","906,185",...,"3,123,723","3,444,578","3,943,116","4,589,575","5,463,105","6,478,216","8,186,453","9,687,653","10,830,000.00",188.3053
11,Hawaii,HI,1959.0,0,0,0,0,0,0,0,...,"423,330","499,794","632,772","768,561","964,691","1,108,229","1,211,537","1,360,301","1,406,430.00",218.9678
12,Idaho,ID,1890.0,0,0,0,0,0,0,0,...,"524,873","588,637","667,191","712,567","943,935","1,006,749","1,293,953","1,567,582","1,860,120.00",22.5079
13,Illinois,IL,1818.0,0,"2,458","12,282","55,211","157,445","476,183","851,470",...,"7,897,241","8,712,176","10,081,158","11,113,976","11,426,518","11,430,602","12,419,293","12,830,632","12,569,300.00",226.3964
14,Indiana,IN,1816.0,0,"2,632","24,520","147,178","343,031","685,866","988,416",...,"3,427,796","3,934,224","4,662,498","5,193,669","5,490,224","5,544,159","6,080,485","6,483,802","6,805,660.00",189.9643
15,Iowa,IA,1846.0,0,0,0,0,0,"43,112","192,214",...,"2,538,268","2,621,073","2,757,537","2,824,376","2,913,808","2,776,755","2,926,324","3,046,355","3,167,970.00",56.7157
16,Kansas,KS,1861.0,0,0,0,0,0,0,0,...,"1,801,028","1,905,299","2,178,611","2,246,578","2,363,679","2,477,574","2,688,418","2,853,118","2,917,220.00",35.6807
17,Kentucky,KY,1792.0,"73,677","220,959","406,511","564,317","687,917","779,828","982,405",...,"2,845,627","2,944,806","3,038,156","3,218,706","3,660,777","3,685,296","4,041,769","4,339,367","4,480,710.00",113.4759
18,Louisiana,LA,1812.0,0,0,"76,556","153,407","215,739","352,411","517,762",...,"2,363,880","2,683,516","3,257,022","3,641,306","4,205,900","4,219,973","4,468,976","4,533,372","4,627,000.00",107.0966
19,Maine,ME,1820.0,"96,540","151,719","228,705","298,335","399,455","501,793","583,169",...,"847,226","913,774","969,265","992,048","1,124,660","1,227,928","1,274,923","1,328,361","1,354,520.00",43.9166
20,Maryland,MD,1788.0,"319,728","341,548","380,546","407,350","447,040","470,019","583,034",...,"1,821,244","2,343,001","3,100,689","3,922,399","4,216,975","4,781,468","5,296,486","5,773,552","6,065,440.00",624.8522
21,Massachusetts,MA,1788.0,"378,787","422,845","472,040","523,287","610,408","737,699","994,514",...,"4,316,721","4,690,514","5,148,578","5,689,170","5,737,037","6,016,425","6,349,097","6,547,629","6,912,240.00",886.1846
22,Michigan,MI,1837.0,0,"3,757","4,762","7,452","28,004","212,267","397,654",...,"5,256,106","6,371,766","7,823,194","8,875,083","9,262,078","9,295,297","9,938,444","9,883,640","9,992,430.00",176.7352
23,Minnesota,MN,1858.0,0,0,0,0,0,0,"6,077",...,"2,792,300","2,982,483","3,413,864","3,804,971","4,075,970","4,375,099","4,919,479","5,303,925","5,706,400.00",71.6641
24,Mississippi,MS,1817.0,0,"7,600","31,306","75,448","136,621","375,651","606,526",...,"2,183,796","2,178,914","2,178,141","2,216,912","2,520,638","2,573,216","2,844,658","2,967,297","2,966,410.00",63.2187
25,Missouri,MO,1821.0,0,0,"19,783","66,586","140,455","383,702","682,044",...,"3,784,664","3,954,653","4,319,813","4,676,501","4,916,686","5,117,073","5,595,211","5,988,927","6,169,040.00",89.7419
26,Montana,MT,1889.0,0,0,0,0,0,0,0,...,"559,456","591,024","674,767","694,409","786,690","799,065","902,195","989,415","1,085,000.00",7.4547
27,Nebraska,NE,1867.0,0,0,0,0,0,0,0,...,"1,315,834","1,325,510","1,411,330","1,483,493","1,569,825","1,578,385","1,711,263","1,826,341","1,952,000.00",25.4087
28,Nevada,NV,1864.0,0,0,0,0,0,0,0,...,"110,247","160,083","285,278","488,738","800,493","1,201,833","1,998,257","2,700,551","3,185,790.00",29.0195
29,New Hampshire,NH,1788.0,"141,885","183,858","214,360","244,161","269,328","284,574","317,976",...,"491,524","533,242","606,921","737,681","920,610","1,109,252","1,235,786","1,316,470","1,372,200.00",153.2671
30,New Jersey,NJ,1787.0,"184,139","211,149","245,555","277,575","320,823","373,306","489,555",...,"4,160,165","4,835,329","6,066,782","7,168,164","7,364,823","7,730,188","8,414,350","8,791,894","8,874,520.00",1206.7609
31,New Mexico,NM,1912.0,0,0,0,0,0,0,"61,547",...,"531,818","681,187","951,023","1,016,000","1,302,894","1,515,069","1,819,046","2,059,179","2,105,000.00",17.3540
32,New York,NY,1788.0,"340,120","586,050","959,049","1,372,812","1,918,608","2,428,921","3,097,394",...,"13,479,142","14,830,192","16,782,304","18,236,967","17,558,072","17,990,455","18,976,457","19,378,102","19,300,000.00",409.5404
33,North Carolina,NC,1789.0,"393,751","478,103","556,526","638,829","737,987","753,419","869,039",...,"3,571,623","4,061,929","4,556,155","5,082,059","5,881,766","6,628,637","8,049,313","9,535,483","10,701,000.00",220.1037
34,North Dakota,ND,1889.0,0,0,0,0,0,0,0,...,"641,935","619,636","632,446","617,761","652,717","638,800","642,200","672,591","770,026.00",11.1596
35,Ohio,OH,1803.0,0,"42,159","230,760","581,434","937,903","1,519,467","1,980,329",...,"6,907,612","7,946,627","9,706,397","10,652,017","10,797,630","10,847,115","11,353,140","11,536,504","11,714,600.00",286.6939
36,Oklahoma,OK,1907.0,0,0,0,0,0,0,0,...,"2,336,434","2,233,351","2,328,284","2,559,229","3,025,290","3,145,585","3,450,654","3,751,351","3,990,440.00",58.1739
37,Oregon,OR,1859.0,0,0,0,0,0,0,"12,093",...,"1,089,684","1,521,341","1,768,687","2,091,385","2,633,105","2,842,321","3,421,399","3,831,074","4,289,440.00",44.6873
38,Pennsylvania,PA,1787.0,"434,373","602,545","810,091","1,049,458","1,348,233","1,724,033","2,311,786",...,"9,900,180","10,498,012","11,319,366","11,793,909","11,863,895","11,881,643","12,281,054","12,702,379","12,804,100.00",286.1699
39,Puerto Rico,PR,1899.0,0,0,0,0,0,0,0,...,"1,869,255","2,210,703","2,349,544","2,712,033","3,196,520","3,522,037","3,808,610","3,725,789","3,194,370.00",923.4952
40,Rhode Island,RI,1790.0,"68,825","69,122","76,931","83,059","97,199","108,830","147,545",...,"713,346","791,896","859,488","946,725","947,154","1,003,464","1,048,319","1,052,567","1,061,510.00",1026.6054
41,South Carolina,SC,1788.0,"249,073","345,591","415,115","502,741","581,185","594,398","668,507",...,"1,899,804","2,117,027","2,382,594","2,590,516","3,121,820","3,486,703","4,012,012","4,625,364","5,277,830.00",175.5707
42,South Dakota,SD,1889.0,0,0,0,0,0,0,0,...,"642,961","652,740","680,514","665,507","690,768","696,004","754,844","814,180","896,581.00",11.8265
43,Tennessee,TN,1796.0,"35,691","105,602","261,727","422,813","681,904","829,210","1,002,717",...,"2,915,841","3,291,718","3,567,089","3,923,687","4,591,120","4,877,185","5,689,283","6,346,105","6,944,260.00",168.4069
44,Texas,TX,1845.0,0,0,0,0,0,0,"212,592",...,"6,414,824","7,711,194","9,579,677","11,196,730","14,229,191","16,986,510","20,851,820","25,145,561","29,730,300.00",113.8080
45,Utah,UT,1896.0,0,0,0,0,0,0,"11,380",...,"550,310","688,862","890,627","1,059,273","1,461,037","1,722,850","2,233,169","2,763,885","3,310,770.00",40.2917
46,Vermont,VT,1791.0,"85,425","154,465","217,713","235,764","280,652","291,948","314,120",...,"359,231","377,747","389,881","444,330","511,456","562,758","608,827","625,741","623,251.00",67.6197
47,Virginia,VA,1788.0,"691,937","807,557","877,683","938,261","1,044,054","1,025,227","1,119,348",...,"2,677,773","3,318,680","3,966,949","4,648,494","5,346,818","6,187,358","7,078,515","8,001,024","8,603,980.00",217.8774
48,Washington,WA,1889.0,0,0,0,0,0,0,"1,201",...,"1,736,191","2,378,963","2,853,214","3,409,169","4,132,156","4,866,692","5,894,121","6,724,540","7,796,940.00",117.3248
49,West Virginia,WV,1863.0,"55,873","78,592","105,469","136,808","176,924","224,537","302,313",...,"1,901,974","2,005,552","1,860,421","1,744,237","1,949,644","1,793,477","1,808,344","1,852,994","1,767,860.00",73.5444
50,Wisconsin,WI,1848.0,0,0,0,"1,444","3,635","30,945","305,391",...,"3,137,587","3,434,575","3,951,777","4,417,731","4,705,767","4,891,769","5,363,675","5,686,986","5,852,490.00",108.0633
51,Wyoming,WY,1890.0,0,0,0,0,0,0,0,...,"250,742","290,529","330,066","332,416","469,557","453,588","493,782","563,626","581,075.00",5.9847
52,Â American Samoa,AS,1900.0,0,0,0,0,0,0,0,...,"12,908","24,889","20,051","27,159","32,297","46,773","57,291","55,519",0,0.0000
53,Â Guam,GU,1899.0,0,0,0,0,0,0,0,...,"22,290","59,498","67,044","84,966","105,979","133,152","154,805","159,358",0,0.0000
54,Â Northern Mariana Islands,0,1986.0,0,0,0,0,0,0,0,...,0,0,0,"9,460","16,780","43,345","69,221","53,883",0,0.0000
55,Pacific Trust Territory,0,0.0,0,0,0,0,0,0,0,...,0,0,0,"70,270","104,033",0,0,0,0,0.0000
56,Â Palau,PW,0.0,0,0,0,0,0,0,0,...,0,0,0,"11,210","12,116","15,122",0,0,0,0.0000
57,Â Panama Canal Zone,0,0.0,0,0,0,0,0,0,0,...,"51,827","52,822","42,112","44,198",0,0,0,0,0,0.0000
58,Â U.S. Virgin Islands,VI,1917.0,0,0,0,0,0,0,0,...,"39,467","51,827","32,099","62,468","96,569","101,809","108,612","106,405",0,0.0000